<div [formGroup]="fgd.form">
  <label
    [for]="controlNameInput"
    class="block text-sm font-medium leading-6 text-gray-900 mb-1"
  >
    {{ label }}@if (required) {
    <span class="text-rose-700 text-lg">*</span>
    }
  </label>
  <div class="grid gap-4 grid-cols-2 grid-rows-1">
    <select
      [formControlName]="controlNameSelect"
      class="block w-full rounded-md border-0 p-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
    >
      @for (type of types; track type.value) {
      <option [value]="type.value">{{ type.name }}</option>
      }
    </select>
    <input
      [formControlName]="controlNameInput"
      [id]="controlNameInput"
      [name]="controlNameInput"
      type="text"
      [placeholder]="placeholder"
      class="block w-full rounded-md border-0 p-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
      [ngClass]="hasError ? 'ring-rose-600 ' + classes : classes"
      [minlength]="minlength"
      [maxlength]="maxlength"
    />
  </div>
  @if (hasError) {
  <small class="text-rose-600 font-medium">Campo requerido</small>
  }
</div>
