.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-content {
  margin: 0 16px;
  min-height: calc(100vh - 153px);
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.ant-menu-item:active {
  background: inherit !important;
}

.active,
.ant-menu-item-selected {
  color: white;
  background-color: rgba(234, 88, 12, 0.2) !important;
  position: relative;
  &::before {
    border-right: 5px solid rgb(234, 88, 12) !important;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
}
