<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      @for (menuItem of menuItems; track menuItem.path) {
      <li
        nz-menu-item
        (click)="setTitle(menuItem.path)"
        [routerLink]="menuItem.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span nz-icon [nzType]="menuItem.icon"></span>
        <span>{{ menuItem.name }}</span>
      </li>
      }
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="flex items-center justify-between mb-5 bg-orange-600 p-0">
      <h1 class="text-lg px-3 font-medium leading-[64px] text-white">
        {{ title }}
      </h1>
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <nz-avatar nzIcon="user" class="me-2"></nz-avatar>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item class="hover:bg-gray-200">
            <span nz-icon nzType="user" class="me-2"></span>
            Mi perfil
          </li>
          <li nz-menu-item class="hover:bg-gray-200" (click)="logout()">
            <span nz-icon nzType="logout" class="me-2"></span>
            Salir
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content>
      <router-outlet />
    </nz-content>
    <nz-footer>&copy;{{ year }} - ALCE Importaciones</nz-footer>
  </nz-layout>
</nz-layout>
