<div
  class="flex items-center justify-center w-full h-full flex-col bg-gray-200"
>
  <div
    class="w-1/4 bg-slate-100 p-8 rounded-md shadow-md ring-1 ring-gray-200 mb-5"
  >
    <img
      src="http://127.0.0.1:9199/v0/b/alce-importaciones.appspot.com/o/logo-alce-importaciones-horizontal.webp?alt=media&token=dca87266-9d70-4816-a095-77681d2441a5"
      alt="logo alce importaciones"
      width="200px"
      class="m-auto mb-5"
    />
    <h1
      class="block text-2xl text-gray-900 mb-6 w-full font-medium text-center"
    >
      Portal Administrativo
    </h1>
    <form
      [formGroup]="form"
      (submit)="handleSubmit()"
      (keydown.enter)="handleSubmit()"
      class="mb-3"
    >
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-900 mb-1"
      >
        Correo
      </label>
      <input
        formControlName="email"
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        placeholder="micorreo@empresa.com"
        class="block w-full rounded-md border-0 p-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
        [ngClass]="controlInvalid('email') ? 'ring-rose-600' : ''"
      />
      @if (controlInvalid('email')) {
      <small class="text-rose-600 font-medium">Campo requerido</small>
      }

      <label
        for="password"
        class="block text-sm font-medium leading-6 text-gray-900 mb-1 mt-2"
      >
        Contraseña
      </label>
      <input
        formControlName="password"
        id="password"
        name="password"
        type="password"
        autocomplete="password"
        placeholder="6 - 12 caracteres"
        maxlength="12"
        class="block w-full rounded-md border-0 p-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
        [ngClass]="controlInvalid('password') ? 'ring-rose-600 mb-0' : 'mb-3'"
      />
      @if (controlInvalid('password')) {
      <small class="text-rose-600 font-medium">Campo requerido</small>
      }
    </form>

    <app-button
      name="Ingresar"
      (onSubmit)="handleSubmit()"
      classes="mb-3"
      [isLoading]="isLoading"
    />

    <a class="text-gray-900 hover:text-orange-600 font-medium">
      ¿Olvidaste tu contraseña?
    </a>
  </div>

  <p class="m-0 block w-full text-center text-gray-400">
    &copy;{{ year }} - ALCE Importaciones
  </p>
</div>
