<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="600"
  [nzVisible]="openDrawer"
  [nzTitle]="selected ? 'Actualizar' : 'Crear'"
  [nzFooter]="footerTpl"
  (nzOnClose)="handleClose()"
>
  <form *nzDrawerContent [formGroup]="form" (keyup.enter)="handleSubmit()">
    <div class="grid gap-4 grid-cols-1 mb-2">
      <app-text-field
        controlName="name"
        label="Nombre del rol"
        placeholder="Ej. Vendedor"
        required
        [hasError]="controlInvalid('name')"
      />
    </div>

    <div class="flex items-center justify-between mb-2">
      <label class="block text-sm font-medium leading-6 text-gray-900">
        Permisos<span class="text-rose-700 text-lg">*</span>
      </label>
      <label nz-checkbox (nzCheckedChange)="handleGroup('allPermissions', $event)" [nzChecked]="allPermissionsChecked">
        Seleccionar todos
      </label>
    </div>

    <div class="grid gap-4 grid-cols-3">
      <!-- users -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allUsersPermissions"
          (nzCheckedChange)="handleGroup('allUsersPermissions', $event)"
        >
          Usuarios
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="users">
          <label class="ms-2" nz-checkbox formControlName="createUsers">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateUsers">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewUsers">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteUsers"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al usuario"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteUsers"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al usuario se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- suppliers -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allSuppliersPermissions"
          (nzCheckedChange)="handleGroup('allSuppliersPermissions', $event)"
        >
          Proveedores
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="suppliers">
          <label class="ms-2" nz-checkbox formControlName="createSuppliers">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateSuppliers">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewSuppliers">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteSuppliers"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al proveedor"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteSuppliers"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al proveedor se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- customers -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allCustomersPermissions"
          (nzCheckedChange)="handleGroup('allCustomersPermissions', $event)"
        >
          Clientes
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="customers">
          <label class="ms-2" nz-checkbox formControlName="createCustomers">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateCustomers">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewCustomers">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteCustomers"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al cliente"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteCustomers"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al cliente se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- roles -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allRolesPermissions"
          (nzCheckedChange)="handleGroup('allRolesPermissions', $event)"
        >
          Roles
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="roles">
          <label class="ms-2" nz-checkbox formControlName="createRoles">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateRoles">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewRoles">Ver</label>
          <label class="ms-2" nz-checkbox formControlName="deleteRoles"> Eliminar </label>
        </ng-container>
      </div>

      <!-- categories -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allCategoriesPermissions"
          (nzCheckedChange)="handleGroup('allCategoriesPermissions', $event)"
        >
          Categorías
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="categories">
          <label class="ms-2" nz-checkbox formControlName="createCategories">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateCategories">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewCategories">Ver</label>
          <label class="ms-2" nz-checkbox formControlName="deleteCategories"> Eliminar </label>
        </ng-container>
      </div>

      <!-- brands -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allBrandsPermissions"
          (nzCheckedChange)="handleGroup('allBrandsPermissions', $event)"
        >
          Marcas
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="brands">
          <label class="ms-2" nz-checkbox formControlName="createBrands">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateBrands">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewBrands">Ver</label>
          <label class="ms-2" nz-checkbox formControlName="deleteBrands"> Eliminar </label>
        </ng-container>
      </div>

      <!-- products -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allProductsPermissions"
          (nzCheckedChange)="handleGroup('allProductsPermissions', $event)"
        >
          Productos
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="products">
          <label class="ms-2" nz-checkbox formControlName="createProducts">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateProducts">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewProducts">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteProducts"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al producto"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteProducts"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al producto se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- sales -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allSalesPermissions"
          (nzCheckedChange)="handleGroup('allSalesPermissions', $event)"
        >
          Ventas
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="sales">
          <label class="ms-2" nz-checkbox formControlName="createSales">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateSales">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewSales">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteSales"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran a la venta"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteSales"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran a la venta se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- expenses -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allExpensesPermissions"
          (nzCheckedChange)="handleGroup('allExpensesPermissions', $event)"
        >
          Gastos
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="expenses">
          <label class="ms-2" nz-checkbox formControlName="createExpenses">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateExpenses">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewExpenses">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteExpenses"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al gasto"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteExpenses"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al gasto se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- banks -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allBanksPermissions"
          (nzCheckedChange)="handleGroup('allBanksPermissions', $event)"
        >
          Bancos
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="banks">
          <label class="ms-2" nz-checkbox formControlName="createBanks">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateBanks">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewBanks">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteBanks"> Eliminar superficial </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al banco"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteBanks"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al banco se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- customeracquisitions -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allCustomerAcquisitionsPermissions"
          (nzCheckedChange)="handleGroup('allCustomerAcquisitionsPermissions', $event)"
        >
          Medios de captación
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="customeracquisitions">
          <label class="ms-2" nz-checkbox formControlName="createCustomerAcquisitions">Crear</label>
          <label class="ms-2" nz-checkbox formControlName="updateCustomerAcquisitions">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewCustomerAcquisitions">Ver</label>
          <div>
            <label class="ms-2" nz-checkbox formControlName="softDeleteCustomerAcquisitions">
              Eliminar superficial
            </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la interfaz pero se mantiene en base de datos para mostrar en registros que refieran al medio de captación"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
          <div>
            <label class="ms-2" nz-checkbox formControlName="hardDeleteCustomerAcquisitions"> Eliminar completo </label>
            <span
              nz-icon
              nz-tooltip
              nzTooltipTitle="Eliminar de la base de datos, los registros que refieran al medio de captación se colocará como 'desconocido'"
              nzTooltipPlacement="top"
              nzType="question-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-container>
      </div>

      <!-- infobusiness -->
      <div class="flex flex-col">
        <label
          nz-checkbox
          formControlName="allInfoBusinessPermissions"
          (nzCheckedChange)="handleGroup('allInfoBusinessPermissions', $event)"
        >
          Info de empresa
        </label>
        <hr class="my-1" />
        <ng-container formGroupName="infobusiness">
          <label class="ms-2" nz-checkbox formControlName="updateInfoBusiness">Actualizar</label>
          <label class="ms-2" nz-checkbox formControlName="viewInfoBusiness">Ver</label>
        </ng-container>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div class="flex justify-end">
      <div class="w-32 me-2">
        <app-button
          color="gray"
          variant="outline"
          name="Cancelar"
          [disabled]="isSubmitting"
          (onSubmit)="handleClose()"
        />
      </div>
      <div class="w-32">
        <app-button
          color="orange"
          [isLoading]="isSubmitting"
          [name]="selected ? 'Actualizar' : 'Crear'"
          (onSubmit)="handleSubmit()"
        />
      </div>
    </div>
  </ng-template>
</nz-drawer>
