# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
data/
adminsdk/
lib/

firebase-*

.env
alce-importaciones-firebase-adminsdk-e1fl0-d6a55bc56a.json